.body {
    width: 1440px;
    height: 500px;
    color: rgb(235, 187, 67);
    background-color: #F1F3FF;
    margin-top: 20px;
    font-family: Helvetica;
}

.header, .navbar, .footer {
    height: 70px;
    align-items: center;
    display: flex;
    color: white;
    background-color: #F1F3FF;
    justify-content: space-between;
    padding-right: 45px;
}

.image {
    width: 100px;
    height: 34px;
    display: flex;
    margin-left: 120px;
    justify-items: center;
}

.navbar p {
    margin-right: 50px;
    font-weight: bold;
    color: black;
}

.navbar a {
    margin-right: 32px;
    color: black;
    font-weight: 500;
}

.nav a {
    color: white;
    background-color: #5CB85F;
    padding: 10px;
}

.jumbotron {
    padding-top: 25px;
    padding-bottom: 0;
    background-color: #F1F3FF;
}

.col-sm-6 h1{
    margin-top: 65px;
    margin-left: 85px;
    margin-right: -35px;
}
.col-sm-6 .text-header, .sewamobil {
    margin-top: 16px;
    margin-left: 85px;
    margin-right: 54px;
    text-align: justify;
}

.col-sm-6 .img-car {
    width: 645px;
    height: 372px;
    background-color: #F1F3FF;
    margin-left: 14px;
}

.BestCarRental {
    padding-top: 136px;
}

.col-sm-6 .img-service {
    width: 459px;
    height: 428px;
    background-color: white;
    margin-left: 70px;
}

h3, .text-service, .mb-3{
    margin-left: 50px;
}

.mb-3 .me-3 {
    width: 24px;
    height: 24px;
}

/* -------------- */

.why_us {
    text-align: left;
    margin-left: 62px;
    margin-right: 62px;;
    padding-top: 100px;
}

.testimonial {
    text-align: center;
    padding-top: 100px;
}

.item {
    background-color: #F1F3FF;
    height: 290px;
    width: 620px;
    border-radius: 8px;
}

.media .media-body {
    align-items: left;
    margin-left: 32px;
}

.img .rate {
    height: 16px;
    margin-top: 69px;
    margin-bottom: 8px;
    margin-left: -182px;
}

.media-body #testi_desc {
    text-align: justify;
    margin-right: 46px;
}

.media-body #testi_name {
    text-align: left;
}

/* ------STYLE FAQ SECTION------ */
.FAQ {
    padding-top: 100px;
}
.accordion-item {
    margin-bottom: 16px;
}

/* ------STYLE FOOTER SECTION------ */
.footer {
    padding-top: 200px;
    padding-bottom: 100px;
    color: black;
    background-color: white;
    margin-left: 50px;
}

.footer .footerAddress, .footerSosmed, .footerCopyright {
    font-weight: 300;
    font-size: 14px;
}

.footer .footerNav {
    font-weight: 400;
    font-size: 14px;
}